#svgContainer{
  float: left;
  width: calc(100% - 520px);
}

svg {
  width: 100%;
  height: auto;
}

path:not(.ocean) {
  cursor: pointer;
}

#wikiFrame {
  float: left;
  height: 800px;
  width: 500px;
  border: 1px solid gray;
}
