svg {
  width: 100%;
  height: auto;
}

path:not(.ocean) {
  cursor: pointer;
}

#svgContainer{
  max-width: calc(50% - 4px);
  float: left;
  width: 50%;
}

#wikiFrame {
  max-width: calc(50% - 4px);
  float: left;
  height: 800px;
  width: 49%;
  border: 1px solid gray;
}
